html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-family);
	background: #fff;
	min-width: 320px;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	padding-right: 0;
	padding-left: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1440px;
	padding: 0 clamp(0.938rem, -0.455rem + 5.714vi, 4.688rem);
	margin: 0 auto;
}

.site-button {
	background: #5a73a0;
	border-radius: 6px;
	font-weight: 400;
	transition: var(--transition);
}

.site-button:focus-visible {
	outline: none;
	box-shadow: 0 0 16px 0 rgba(90, 115, 160, 0.46);
}

@media (hover:hover) {
	.site-button:hover {
		box-shadow: 0 0 16px 0 rgba(90, 115, 160, 0.46);
	}
}

.site-button:active {
	box-shadow: 0 0 16px 0 rgba(90, 115, 160, 0.46);
	background: #6f8fc8;
}

.page-wrapper {
	background-image:
		url('../images/hero/hero-bg-left.webp'),
		url('../images/hero/hero-bg-right.webp');
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
}

@media (max-width: 768px) {
	.page-wrapper {
		background-image: url('../images/hero/mobile/hero-bg.webp');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}
}

.section-title {
	display: flex;
	gap: clamp(0.813rem, 0rem + 3.333vi, 3rem);
	margin-bottom: clamp(1.563rem, 1.214rem + 1.429vi, 2.5rem);
	font-weight: 500;
	font-size: clamp(1.5rem, 1.314rem + 0.762vi, 2rem);
	color: #282828;
}

.section-title::before {
	font-weight: 300;
	font-size: clamp(0.875rem, 0.736rem + 0.571vi, 1.25rem);
	color: rgba(90, 115, 160, 0.35);
}

.earn-button {
	display: flex;
	justify-content: center;
	gap: 2px;
}

.earn-button__text {
	display: flex;
	align-items: center;
	border-radius: 12px 0 0 12px;
	background: #282828;
	padding: clamp(0.938rem, 0.845rem + 0.381vi, 1.188rem) clamp(1.969rem, 1.713rem + 1.048vi, 2.656rem) clamp(0.938rem, 0.868rem + 0.286vi, 1.125rem) clamp(1.969rem, 1.737rem + 0.952vi, 2.594rem);
	font-weight: 500;
	font-size: clamp(0.875rem, 0.852rem + 0.095vi, 0.938rem);
	color: #fff;
	transition: var(--transition);
}

.earn-button__icon {
	border-radius: 0 12px 12px 0;
	background: #282828;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: clamp(1.188rem, 1.071rem + 0.476vi, 1.5rem) clamp(0.813rem, 0.65rem + 0.667vi, 1.25rem) clamp(1.188rem, 1.118rem + 0.286vi, 1.375rem) 22px;
	transition: var(--transition);
}

.earn-button:focus-visible {
	outline: none;
}

.earn-button:focus-visible .earn-button__text,
.earn-button:focus-visible .earn-button__icon {
	outline: none;
	background: #5a73a0;
}

@media (hover:hover) {

	.earn-button:hover .earn-button__text,
	.earn-button:hover .earn-button__icon {
		background: #5a73a0;
	}
}


.earn-button:active .earn-button__text,
.earn-button:active .earn-button__icon {
	background: #6f8fc8;
}