.footer {
	background: #202020;
}

.footer__wrapper {
	padding-top: clamp(1.75rem, 1.518rem + 0.952vi, 2.375rem);
	padding-bottom: 22px;
}

.footer__logo {
	display: flex;
	justify-content: center;
	margin-bottom: clamp(2.063rem, 1.9rem + 0.667vi, 2.5rem);
}

.footer__inner {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding-top: 19px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__nav {
	margin-right: clamp(0rem, -26.357rem + 54.911vi, 23.063rem);
}

.footer__list {
	display: flex;
	gap: 52px;
}

.footer__item-link {
	font-weight: 400;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.78);
	transition: var(--transition);
}

.footer__item-link:focus-visible,
.footer__item-link:hover,
.footer__item-link:active {
	color: white;
}

.footer__social {
	display: flex;
	gap: 21px;
	margin-right: clamp(0rem, -39.286rem + 81.845vi, 34.375rem);
}

.footer__copyright {
	font-weight: 400;
	font-size: 12px;
	text-align: right;
	color: rgba(255, 255, 255, 0.78);
}

@media (max-width: 768px) {
	.footer__wrapper {
		padding-bottom: 28px;
	}

	.footer__inner {
		padding-top: 31px;
		flex-direction: column;
		gap: 26px;
	}
}