.hero__wrapper {
	padding-top: 35px;
}

.hero__content {
	max-width: 640px;
	margin: 0 auto;
	margin-bottom: 31px;
}

.hero__title {
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	text-wrap: balance;
	color: #282828;
	margin-bottom: 39px;
}

.hero__title--blue {
	color: #5a73a0;
}

.hero__box {
	margin-bottom: 30px;
	display: flex;
	gap: 32px;
}

.hero__text {
	font-weight: 400;
	font-size: 14px;
	color: #282828;
	position: relative;
	padding-left: 27px;
}

.hero__text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../images/hero/check-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: 18px;
	height: 18px;
}

.hero__text--bold {
	font-weight: 600;
	color: #565867;
}

.hero__button {
	margin: 0 auto;
}

.hero__images {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 1008px;
	margin: 0 auto;
}

.hero__image {
	display: block;
}

.hero__image-wrapper {
	position: relative;
	z-index: 2;
}

.hero__image-wrapper::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 156px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	pointer-events: none;
}

.hero__image--right {
	position: absolute;
	right: 0;
	top: 13px;
	z-index: 3;

}

.hero__image--left {
	position: absolute;
	left: 38px;
	bottom: 20px;
	z-index: 3;
}