.how-it-works__wrapper {
	padding-top: clamp(3.938rem, 3.496rem + 1.81vi, 5.125rem);
	padding-bottom: clamp(2.188rem, 1.839rem + 1.429vi, 3.125rem);
}

.how-it-works__title {
	margin-bottom: clamp(1.625rem, 1.555rem + 0.286vi, 1.813rem);
}

.how-it-works__title::before {
	content: '01/';
}

.how-it-works__list {
	display: flex;
	gap: 30px;
}

.how-it-works__item {
	flex: 1;
	border: 1px solid rgba(90, 115, 160, 0.12);
	border-radius: 20px;
	padding: 14px 16px 18px 22px;
}

.how-it-works__item-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: clamp(1.375rem, 0.864rem + 2.095vi, 2.75rem);
}

.how-it-works__item-title {
	font-weight: 600;
	font-size: clamp(1rem, 0.954rem + 0.19vi, 1.125rem);
	color: #282828;
}

.how-it-works__item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(90, 115, 160, 0.15);
	border-radius: clamp(0.5rem, 0.454rem + 0.19vi, 0.625rem);
	width: clamp(2.5rem, 2.221rem + 1.143vi, 3.25rem);
	height: clamp(2.5rem, 2.221rem + 1.143vi, 3.25rem);
}

.how-it-works__item-text {
	font-weight: 400;
	font-size: 14px;
	color: #8e8e8e;
	line-height: 120%;
}

@media (max-width: 1024px) {
	.how-it-works__list {
		flex-direction: column;
		gap: 9px;
	}

	.how-it-works__item {
		min-height: 145px;
		padding: 12px 21px 12px 13px;
	}

	.how-it-works__item-icon img {
		width: 23px;
	}
}