.ready {
	position: relative;
	background-image:
		url('../../images/ready/ready-phone.webp'),
		url('../../images/ready/ready-blur.webp');
	background-repeat: no-repeat, no-repeat;
	background-position: right 75px bottom, right center;
}

.ready::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 156px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	backdrop-filter: blur(0.6px);
	pointer-events: none;
}


.ready__wrapper {
	padding-top: clamp(2.188rem, 0.934rem + 5.143vi, 5.563rem);
	padding-bottom: 116px;
	max-width: 531px;
	position: relative;
	z-index: 10;
}

.ready__title {
	margin-bottom: clamp(1rem, 0.675rem + 1.333vi, 1.875rem);
}

.ready__title::before {
	content: "05/";
}

.ready__text {
	font-weight: 400;
	font-size: clamp(0.875rem, 0.782rem + 0.381vi, 1.125rem);
	color: #282828;
	margin-bottom: clamp(2.125rem, 1.916rem + 0.857vi, 2.688rem);
}

@media (max-width: 1320px) {
	.ready__wrapper {
		padding-bottom: 255px;
	}
}

@media (max-width: 1024px) {
	.ready {
		background-image: url('../../images/ready/mobile/ready-phone.webp'),
			url('../../images/ready/ready-blur.webp');
		background-size: auto, cover;
		background-position: center bottom,
			center bottom;
	}

	.ready::after {
		display: none;
	}

	.ready__wrapper {
		padding-bottom: 255px;
	}
}

@media (max-width: 440px) {
	.ready {
		background-image: url('../../images/ready/mobile/ready-phone.webp'),
			url('../../images/ready/mobile/ready-blur.webp');
		background-size: auto, cover;
		background-position: center bottom,
			center;
	}
}