.why__wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.why__title::before {
	content: '06/';
}

.why__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	grid-template-rows: repeat(2, 239px);

}

.why__item {
	background: #f4f5fb;
	border-radius: 20px;
	padding: 29px 18px 32px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.why__item:nth-child(even) {
	background: #fff;
	border: 1px solid rgba(90, 115, 160, 0.12);
}

.why__item-box {
	background: rgba(90, 115, 160, 0.15);
	border-radius: 10px;
	width: 49px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.why__text {
	font-weight: 600;
	font-size: 18px;
	color: #282828;
}

.why__item--big {
	justify-content: flex-start;
	padding: 30px 35px;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	background-color: #5a73a0;
	background-image: -webkit-image-set(
			url('../../images/why/bg.webp') 1x,
			url('../../images/why/bg@2x.webp') 2x
		);
	background-image: image-set(
			url('../../images/why/bg.webp') 1x type('image/webp'),
			url('../../images/why/bg@2x.webp') 2x type('image/webp')
		);
	background-repeat: no-repeat;
	background-position: bottom;
}

.why__item--big .why__item-box {
	background: #d0d8e8;
	margin-bottom: 28px;
}

.why__item--big .why__text {
	color: #fafbff;
	font-size: 17px;
}